#container h2 {
	margin-left: 24px;
	margin-bottom: 16px;
}

.activitysubject {
	display: inline-block;
	vertical-align: text-bottom;
	width: 85%;
	margin-bottom: 5px;
	margin-left: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.activitymessage {
	margin-left: 25px;
	color:#666;
	text-overflow: ellipsis;
	overflow: hidden;
}

#no_more_activities .head {
	font-size: 1.5em;
	color: #333;
	font-weight: bold;
	text-shadow: #aaa 0 1px 0;
}

#no_more_activities {
	position: relative;
	top: 50px;
	width: 100%;
	text-align: center;
	padding: 50px 0;

	z-index: 100;
	margin: 40px auto;
	bottom: 20px;
	color: #555;
}

#loading_activities {
	height: 50px;
	margin: 0 auto;
	padding: 20px;
}

#container {
	margin-bottom: 20px;
	clear: both;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.group {
	clear: both;
	padding-bottom: 10px;
}

.box {
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.box .header{
	height: 32px;
	margin-bottom: 10px;
}

.box .messagecontainer{
	width: 100%;
	display: block;
	margin-bottom: 20px;
}

.box .preview{
	width: 50px;
	height: 50px;
	margin-left: 12px;
}

.box .preview-dir-icon,
.box .preview-mimetype-icon {
	width: 50px;
	height: 50px;
}

.box .user{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	display: inline-block;
	width: 180px;
	font-weight: bold;
}

.box .activitytime {
	float: right;
	color:#666;
	font-size: 0.8em;
	padding: 20px;
	margin: -20px;
}

.box .appname {
	float: right;
	color: #333;
	font-size: 0.8em;
}

.box .grouped{
	list-style: none;
}

.box .grouped .more{
	cursor: default;
	color: #666;
}

/* Navigation icons */
#app-navigation img {
	margin-bottom: -3px;
	margin-right: 6px;
	width: 16px;
}
#app-navigation li span.no-icon {
	padding-left: 25px;
}

/* Style for in event parameters */
.activity-section a.filename,
.activity-section a.email,
.activity-section strong {
	font-weight: bold;
}

.activitysubject strong.systemtag {
	display: inline-block;
	padding: 2px 5px;
	border-radius: 3px;
	background-color: #f8f8f8;
	font-weight: normal;
}

.activity-section .avatar {
	vertical-align: middle;
	display: inline-block;
	margin: 0 5px 2px 3px;
}

.activityTabView .activity.box {
	position: relative;
}
.activityTabView .activity-icon {
	position: absolute;
	margin-top: 3px;
}
.activityTabView .activitysubject {
	width: 90%;
	margin-left: 24px;
	display: block;
	min-height: 28px;
}
.activityTabView .box .activitytime {
	padding: 0;
	margin: -15px 0 0;
}

.icon-activity {
	background-image: url('../img/activity-dark.svg?v=1');
}
/* colored icons, in addition to core ones */
.activity-icon {
	min-width: 16px;
	min-height: 16px;
	display: inline-block;
	vertical-align: top;
	margin-top: 2px;
	background-size: contain;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}
.activity-icon img {
	max-width: 16px;
	max-height: 16px;
}

.activity-icon.icon-add-color {
	background-image: url('../img/add-color.svg');
}
.activity-icon.icon-change {
	background-image: url('../img/change.svg');
}
.activity-icon.icon-delete-color {
	background-image: url('../img/delete-color.svg');
}

.activity-icon.icon-add-color,
.activity-icon.icon-delete-color {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

#rssurl > input.feed-link {
	width: 80%;
}

#rssurl .icon-clippy {
	background-size: 16px 16px;
	display: inline-block;
	position: relative;
	top: 3px;
	margin-left: 5px;
}
