<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 bootstrap="bootstrap.php"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
		 cacheDirectory=".phpunit.cache">
  <testsuite name="Activity App Tests">
    <directory>.</directory>
  </testsuite>
  <source>
    <include>
      <directory>../../activity/appinfo</directory>
      <directory>../../activity/lib</directory>
      <file>../../activity/personal.php</file>
    </include>
    <exclude>
      <file>../../activity/appinfo/update.php</file>
    </exclude>
  </source>
</phpunit>
