<div class="activity-section">
	<div class="loading hidden" style="height: 50px"></div>
	<div class="emptycontent">
		<div class="icon-activity"></div>
		<p>{{emptyMessage}}</p>
	</div>
	<ul class="activities hidden">
	</ul>
	<input type="button" class="showMore" value="{{moreLabel}}">
</div>
